@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --fonte-1: 'Press-Start-2', fantasy;
}

.container {
  display: flex;
  flex-direction: column;

  background-image: url("../images/wall.png");
  height: 100vh;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background-color: #000000;
  border-bottom: 5px solid #ffd700;
  color: #ffffff;
  height: 90px;
  width: 100%;
}

.menu-time h2:first-of-type,
.menu-score h2:first-of-type {
  color: red;
}

.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2) {
  margin-top: 1rem;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 1rem;
}

.square {
  background-color: #1aeaa5;
  border: 1px solid #000000;
  height: 150px;
  width: 150px;
}

.enemy {
  background-image: url("../images/ralph.png");
  background-size: cover;
}

.menu-lives {
  display: flex;
  align-items: center;
  justify-content: center;
}